@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;    
}

a, .btn-link {
    color: #dee2e6;
}
.content {
    padding-top: 1.1rem;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.modal-story {
    padding: 0px;
    display: flex;
    z-index: 103;
    flex-direction: column;
}

.position-horizontal{
    display:flex
}

.primary-color{
    color: #F1BC03;
}

.white-color{
    color: #dee2e6;
}

.container-body {
    padding-bottom: 100px;
    margin-top: 120px;
}

.navigation-itens{
    justify-content: flex-end;
    align-items: center;
    height: 5rem;
    display: flex;
    position: fixed;
    width: 80%;
}