.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.navigation-bar {
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    display: flex;
    position: fixed;
}

.navigation-title{
    justify-content: flex-start;
    align-items: center;
    height: 5rem;
    display: flex;
    position: fixed;
}

.navigation-itens{
    justify-content: flex-end;
    align-items: center;
    height: 5rem;
    display: flex;
    position: fixed;
}

.navigation-bar ::deep a, .navigation-bar .btn-link {
    white-space: nowrap;
    margin-left: 1rem;
}

.navigation-bar a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom-row {
    background-color: #F1BC03;
    justify-content: flex-end;
    height: 5rem;
    display: flex;
    align-items: center;
    width: 100%;
    bottom: 0;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear,opacity 0.3s linear;
}

.item-menu {
    margin-top: 18px;
    margin-right: 10px;
    height: auto;
    font-weight: bold;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
}
.item-contact {
    height: auto;
    font-weight: bold;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.item-menu-initial {
    margin-top: 18px;
    height: auto;
    font-weight: bold;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-self: start;
    text-align:start;
}

a.item-menu:active, a.item-menu:hover {
    color: #F1BC03;
}

span.item-menu {
    margin-left: 2rem;
}

@media (max-width: 770px) {
    .navigation-bar:not(.auth) {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s linear,opacity 0.3s linear;
    }

    .bottom-row:not(.auth) {
        visibility: visible;
        opacity: 100%;
        transition: visibility 0.3s linear,opacity 0.3s linear;
    }

    .main {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (min-width: 770px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .navigation-bar {
        top: 0;
        z-index: 1;
    }


    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}