@inject IModalService modal

<div class="container-about">
    <div class="grid-about row justify-content-between">
        <div class="col-md-4 align-self-center">
            <h3>
                <span class="span-title-about">Experiências únicas</span> de
                quem escolheu cuidar 
                da carreira.<br />
            </h3>
            <p>
                Entenda um pouco como posso ajudar
                seu time de desenvolvimento
                com meus conhecimentos.
            </p>
        </div>
        <div class="col-md-8 align-self-center story-grid">
            <div class="story-image" @onclick="ShowStory">
                <img class="story-image" src="Images/eumobile.png" alt="tamb_mobile" width="170" height="300" />
            </div>

            <div class="story-image" @onclick="ShowStory">
                <img class="story-image" src="Images/eumobile.png" alt="tamb_backend" width="170" height="300" />
            </div>

            <div class="story-image" @onclick="ShowStory">
                <img class="story-image" src="Images/eumobile.png" alt="tamb_frontend" width="170" height="300" />
            </div>

            <div class="story-image" @onclick="ShowStory">
                <img class="story-image" src="Images/eumobile.png" alt="tamb_fullstack"/>
            </div>
        </div>
    </div>
</div>

@code{

    void ShowStory()
    {
        var options = new ModalOptions()
        {
            Animation = ModalAnimation.FadeOut(1),
            Class = "modal-story",
            OverlayCustomClass = "modal-story",
            HideCloseButton = true,
            HideHeader = true
        };

        modal.Show<StoryModal>(null, options);
    }
}