<div class="container-about">
    <div class="grid-about row justify-content-between">
        <div class="col-md-4 align-self-center">
            <h3>
                <span class="span-title-about">Experiências únicas</span> de
                quem escolheu cuidar 
                da carreira.<br />
            </h3>
            <p>
                Entenda um pouco como posso ajudar
                seu time de desenvolvimento
                com meus conhecimentos.
            </p>
        </div>
        <div class="col-md-8 align-self-center story-grid">
           @foreach (var video in Videos)
            {
                <div class="story-div"  @onclick="@(() => ShowStory(video.Src))">
                    <img class="story-image" src="Images/eumobile.png" alt="tamb_mobile" width="170" height="300" />
                </div>
            }
        </div>
    </div>
</div>

@code{
    [CascadingParameter] public IModalService Modal { get; set; }

    private List<Video> Videos = new List<Video>()
    {
        new Video(){ Src = "Videos/storymobile.MOV" },
        new Video(){ Src = "Videos/storymobile.MOV" },
        new Video(){ Src = "Videos/storymobile.MOV" },
        new Video(){ Src = "Videos/storymobile.MOV" }
    };

    void ShowStory(string src)
    {
        var options = new ModalOptions()
        {
            Animation = ModalAnimation.FadeOut(0.2),
            Class = "modal-story",
            OverlayCustomClass = "modal-story",
            HideCloseButton = true,
            HideHeader = true,
        };

        var parameters = new ModalParameters();
        parameters.Add(nameof(StoryModal.Src), src);

        Modal.Show<StoryModal>(null, parameters, options);
    }
}