<div class="container-contact">
    <div class=" grid-contact">
        <div class="item-contact ml-md-auto">
            <a class="item-contact" href="https://www.linkedin.com/in/anderson-oliveira-developer/">
                <img class="img-contact" src="Images/linkedin.png" alt="linkedin" width="35" height="35" />
            </a>
        </div>

        <div class="item-contact">
            <a class="item-contact" href="https://www.instagram.com/anderson.smg/">
                <img class="img-contact" src="Images/insta.png" alt="instagram" width="35" height="35" />
            </a>
        </div>

        <div class="item-contact" href="">
            <a class="item-contact">
                <img class="img-contact" src="Images/whatsApp.png" alt="whatsapp" width="35" height="35" />
            </a>
        </div>
        <div class="item-contact" href="https://github.com/AndersonPull">
            <a class="item-contact">
                <img class="img-contact" src="Images/gitHub.png" alt="github" width="35" height="35" />
            </a>
        </div>
    </div>
</div>