<div class="container-home">
    <div class="row justify-content-between">
        <div class="col-md-2 align-self-center">
            <ul class="ul-home justify-content-start">
                <li class="nav-home">
                    <a href="https://www.linkedin.com/in/anderson-oliveira-developer/">
                        <img src="Images/linkedin.png" alt="Linkedin" width="40" height="40" />
                    </a>
                </li>
                <li class="nav-home">
                    <a href="https://www.instagram.com/anderson.smg/">
                        <img src="Images/insta.png" alt="Instagram" width="40" height="40" />
                    </a>
                </li>
                <li class="nav-home">
                    <a href="https://github.com/AndersonPull">
                        <img src="Images/gitHub.png" alt="GitHub" width="40" height="40" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-5 align-self-center">
            <h3>Eai, Anderson aqui!</h3>
            <h5>Desenvolvedor .net</h5>
            <p>
                Possuo um vasto conhecimento em mobile,
                backend e frontend utilizando a
                plataforma .net
            </p>
            <br />
            <a class="btn btn-home" href="fetchdata">
                contate-me
                <img src="Images/whats.png" alt="whats" width="25" height="25" />
            </a>
        </div>
        <div class="col-md-5 text-center">
            <img src="Images/eu.PNG" alt="Eu" width="320" height="320" />
        </div>
    </div>
    <div class="row align-self-center scroll-home">
        <div class="col-md-2"></div>
        <div class="col-md-5 align-self-center">
            <a class="row align-self-center">
                <img class="align-self-center" src="Images/scroll.png" alt="Eu" width="35" height="35" />
                <p class="p-home align-self-center">Role para baixo</p>
                <img class="align-self-center" src="Images/arrow_down.png" alt="Eu" width="20" height="20" />
            </a>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>