.container-story-modal {
    width: 360px;
    height: 640px;
}

#story-video {
    width: 100%;
    height: auto;
    z-index: 103;
}

.close-modal {
    position: absolute;
    text-align: start;
    margin-top: 10px;
    margin-left: 10px;
}
.close-span {
    color: #FFFFFF;
}