@page "/DetailNewsletter"
@using Portfolio.Modules.Newsletter.Models

@inject Portfolio.INewsletterService _newsletterService

<div class="vh-100 d-flex align-items-center justify-content-center gap-3">
    <div class="container-body vh-100 align-items-center justify-content-center gap-3">
        <p>Pagina de Detalhe</p>
    </div>
</div>

@code
{
    ArticleModel Newsletter;

    protected override async Task OnInitializedAsync(){

    }

}