@inherits LayoutComponentBase
<div class="page">
    <div class="main">
        <div class="top-row">
            <a class="item-menu">Anderson</a>
            <a class="item-menu ml-md-auto">inicio</a>
            <a class="item-menu">sobre</a>
            <a class="item-menu">contato</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
    <div class="bottom-row">
        <a class="icon_menu mx-auto"><span class="oi oi-home" aria-hidden="true"></span></a>
        <a class="icon_menu mx-auto"><span class="oi oi-person" aria-hidden="true"></span></a>
        <a class="icon_menu mx-auto"><span class="oi oi-list" aria-hidden="true"></span></a>
    </div>
</div>